<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
<title>CorpU - Teachers</title>

{% load static %}
<link rel="shortcut icon" href="{% static 'assets/img/favicon.png' %}">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/feather/feather.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/icons/flags/flags.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/datatables/datatables.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

</head>
<body>

<div class="main-wrapper">

<div class="header">

  <div class="header-left">
      <a href="permanent-teacher.html" class="logo">
<img src="{% static 'images/corp-logo.png' %}" alt="Logo">
      </a>
      <a href="permanent-teacher.html" class="logo logo-small">
<img src="{% static 'images/corp-logo.png' %}" alt="Logo" width="30" height="30">
      </a>
  </div>

<div class="menu-toggle">
<a href="javascript:void(0);" id="toggle_btn">
<i class="fas fa-bars"></i>
</a>
</div>







<ul class="nav user-menu">





<li class="nav-item dropdown has-arrow new-user-menus">
<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
<span class="user-img">
<img src="{% static 'assets/img/profiles/avatar-01.jpg' %}" alt="User Image" class="avatar-img rounded-circle">
<div class="user-text">
<h6>John</h6>
<p class="text-muted mb-0">Sessional Staff</p>
</div>
</span>
</a>
<div class="dropdown-menu">
<div class="user-header">
<div class="avatar avatar-sm">
<img src="{% static 'assets/img/profiles/avatar-01.jpg' %}" alt="User Image" class="avatar-img rounded-circle">
</div>
<div class="user-text">
<h6>John</h6>
<p class="text-muted mb-0">Permanent Staff</p>
</div>
</div>

<a class="dropdown-item" href="#">Logout</a>
</div>
</li>

</ul>

</div>



<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">
                    <span>Main Menu</span>
                </li>
                <li class="active">
<a href="{% url 'sessional_dashboard' response.param1 %}">
  <i class="feather-grid"></i>
  <span>Dashboard</span>
</a>
                </li>




                
                <li class="submenu">
                    <a href="#"><i class="fas fa-book-reader"></i> <span> Course</span> <span
                            class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="allsubjects.html">View Course</a></li>

                    </ul>
                </li>





            </ul>
        </div>
    </div>
</div>
<div class="page-wrapper">
<div class="content container-fluid">

<div class="page-header">
<div class="row align-items-center">
<div class="col">
<h3 class="page-title">Sessional Staff Record</h3>
<ul class="breadcrumb">
<li class="breadcrumb-item"><a href="index.html">My Course</a></li>
<li class="breadcrumb-item active">Dashboard</li>
</ul>
</div>
</div>
</div>







<div class="row">
<div class="col-sm-12">
<div class="card card-table">
<div class="card-body">

<div class="page-header">
<div class="row align-items-center">
<div class="col">
<h3 class="page-title">All Sessional Staff</h3>
</div>

</div>
</div>

<div class="table-responsive">
<table id="tbl" class="table border-0 star-student table-hover table-center mb-0 datatable table-striped">
<thead class="student-thread">
<tr>

<th>ID</th>

    <th>Email</th>
<th>Course Code</th>
<th>Course Name</th>
    <th>Day</th>
<th>Time-in</th>
    <th>Time-out</th>
<th>Status</th>



</tr>
</thead>
<tbody>

{% for item in response.data %}

    <tr>
    <td>{{ item.Id}}</td>
    <td>{{item.EmailAddress}}</td>
    <td>{{item.code}}</td>
    <td>{{item.unit_name}}</td>
    <td>{{item.day}}</td>
    <td>{{item.start_date}}</td>
    <td>{{item.end_date}}</td>
    <td>{{item.status}}</td>




{% endfor %}



</tr>

</tbody>
</table>
</div>
</div>
</div>
</div>
</div>










<footer>
<p>Copyright © 2023 CorpU.</p>
</footer>

</div>

</div>

{% load static %}
<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/feather.min.js' %}"></script>
<script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatables/datatables.min.js' %}"></script>
<script src="{% static 'assets/js/script.js' %}"></script>

</body>


<script>


$(document).ready(function() {
  $('#tbl').on('click', '.btn-success', function() {
    var row = $(this).closest('tr')[0];

      var firstTdValue = row.querySelector("td:first-child").textContent;



    $.ajax({
      url: '/approve',
      method: 'POST',
      data: { data: firstTdValue },
      success: function(response) {
        console.log('Data sent successfully');
        // Remove the row from the table if successful
            $(row).remove();
      },
      error: function(xhr, status, error) {
        console.error('Error sending data:', error);
        // Handle the error if needed
      }
    });


    // Output the HTML tag as a string
  });

  // Add similar code for the btn-danger button if needed
});


</script>

</html>
